{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tag}}" role="alert">
    <p {% if message.tags %} class=""{% endif %}>{{message}}</p>
</div>
{% endfor %}
{% endif %}
<form method="post", action="", enctype="multipart/form-data">
    {% csrf_token %}
    <label>Allocation_File</label>
    <input type="file" name="Allocation">
    <label>Paid_File</label>
    <input type="file" name="Paid_File">
    <button type="submit">Upload</button>
</form>
<hr>
<br>
<br>
<table>
    <tr style="border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
    {% for col in columns %}
        <th style="border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
    {% endfor %}
    </tr>
    {% for row in excel %}
        <tr style="border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for j in row %}
            <td style="border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{{error}}