body{
    background: #34495e;
    background-size: cover;
    margin:0px;
    padding:0px;
    height: 700px ;
    color: black;
    opacity:550%;
}

.box{
    width: 600px;
    padding:40px;
    position:absolute;
    top: 53% ;
    left:50% ;
    transform:translate(-50% , -50%);
    background:#191919;
    opacity: 50%;
    border-radius: 15px;
    text-align:left;
    color:white;
}

.box input[type="submit"]{
    border:0;
    background:none;
    display: block;
    margin:25px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding:14px 40px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition:0.25s;
    cursor: pointer;
}

.go{
    font-family: Accidental Presidency;
    color:white;
}


.box input[type="submit"]:hover{
    background:#2ecc71;
}

.error{
    text-align:center;
    margin-top:490px;
    color:white;
}

.rohan input[type="text"] {
    border-radius:50px;
    margin-left:50px;
}
.rohan input[type="password"]{
    border-radius:50px;
    margin-left:50px;
    height:20px;
}

.rohan input[type="email"]{
    border-radius:50px;
    height:20px;
}
#id_First_Name{
    height:20px;
}
#id_Last_Name{
    height:20px;
}
#id_username{
    margin-left:53px;
    height:20px;

}

#id_email{
    margin-left:80px;
        height:20px;

}

#id_confirm_email{
    margin-left:25px;
     height:20px;

}

#id_confirm_password{
    margin-left:2px;
        height:20px;

}

#id_password{
    margin-left:57px;
        height:20px;

}

#id_Emp_ID{
    margin-left:70px;
    height:20px;
}

#id_birth_date_month{
    margin-left:57px;
}